.App {
  text-align: center;
}

.picture-profile {
  width: 100px;
  border-radius: 8px;
  
  
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 5px solid rgb(6, 67, 220);
  padding: 50%;
  
  
}

th, td {
  padding: 10px;
 
  
}


.botones {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  margin-bottom: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background: rgb(132, 194, 244);
  color: #000;
  
}

button {
 
  background-image: linear-gradient(144deg,#3e2eee, #4295f3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Phantomsans, sans-serif;
  font-size: 15px;
  padding: 3px;
  margin: 2%;
 }
 

